{% extends "base.html" %}

{% block start %}


    <div class = "container mt-5">
        <form class="col-7 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            <h2>Broken Nest</h2>
            <hr>
            <div class="mb-3">
              <label class="form-label">Poet Name</label>
              <input name = "note_name" type="text" required class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Poetry</label>
              <textarea name = "note_description" required class="form-control"></textarea>
            </div>
            
            <button type="submit" class="btn btn-success">Add Poem</button>
          </form>

          <hr>

          <div class="mt-5">
            <div class="mx-auto col-6">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Your Poems</label>
                <input name="Search" type="text" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
            </div>
          </div>

          <hr>
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Poet Name</th>
                <th scope="col">Poetry</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for note in notebook %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{note.note_name}}</td>
                <td>
                  <pre mt-2>{{ note.note_description }}</pre>
                </td>
                <td>
                    <a href="/delete_note/{{note.id}}/" class="btn btn-danger m-2">Delete</a>
                    <a href="/update_note/{{note.id}}/" class="btn btn-success m-2">Update</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}