<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>BrokenNest</title>
    <style>
        table, th, td {
              border: 1px solid black;
            }
      </style>
</head>
<body>
    <div class = "container mt-5">
        <form class="col-7 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            <h2>Broken Nest</h2>
            <hr>
            <div class="mb-3">
              <label class="form-label">Poem Name</label>
              <input name = "note_name" type="text" required class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Poem</label>
              <textarea name = "note_description" required class="form-control"></textarea>
            </div>
            
            <button type="submit" class="btn btn-success">Add Poem</button>
          </form>

          <hr>

          <div class="mt-5">
            <div class="mx-auto col-6">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Poem</label>
                <input name="Search" type="text" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
            </div>
          </div>

          <hr>
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr No</th>
                <th scope="col">Poem Name</th>
                <th scope="col">Poem</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for note in notebook %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{note.note_name}}</td>
                <td>
                    <pre mt-2>
                        {{note.note_description}}
                    </pre>
                </td>
                <td>
                    <a href="/delete_note/{{note.id}}/" class="btn btn-danger m-2">Delete</a>
                    <a href="/update_note/{{note.id}}/" class="btn btn-success m-2">Update</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</body>
</html>