{% extends "base.html" %}

{% block start %}
    <div class = "container mt-5">
        <form class="col-7 mx-auto card p-3 shadow-lg" method="post">
            {% csrf_token %}
            <h2>Update Poem</h2>
            <hr>
            <div class="mb-3">
              <label class="form-label">Poem Name</label>
              <input name = "note_name" value="{{notebook.note_name}}" type="text" required class="form-control" >
            </div>
            <div class="mb-3">
              <label class="form-label">Poem</label>
              <textarea name = "note_description" required class="form-control">{{notebook.note_description}}</textarea>
            </div>
            
            <button type="submit" class="btn btn-success">Update Poem</button>
          </form>
    </div>
{% endblock %}